<template>
  <div style="padding:0;">
    <div class="row">
                   <div class="col-md-1 ">
                        <section id="intro float-left"> 
                              <br/>
                              <img src="src/assets/images/avatar.png" class="img-circle" style="width:170px;height:170px;"/> 
                              <div class="col-md-1 col-md-offset-1">
                                 <div class="col-md-1" style="position:fixed; left:0;margin:auto 20px auto 30px;">
                                       <nav class="navbar navbar-fixed-left navbar-minimal open animate" role="navigation">
                                          <div class="navbar-toggler animate">
                                             <span class="menu-icon"></span>
                                          </div>
                                          <ul class="navbar-menu animate">
                                             <li>
                                                <a href="#about-us" class="animate side-menuico">
                                                <span class="desc animate"> Message </span>
                                                <span class="glyphicon glyphicon-user side-ico"></span>
                                                </a>
                                             </li>
                                             <li>
                                                <a href="project-board.html" class="animate side-menuico">
                                                <span class="desc animate"> Board </span>
                                                <span class="glyphicon glyphicon-info-sign side-ico"></span>
                                                </a>
                                             </li>  
                                             <li>
                                                <a href="#contact-us" class="animate side-menuico">
                                                <span class="desc animate">Work </span>
                                                <span class="glyphicon glyphicon-comment side-ico"></span>
                                                </a>
                                             </li>
                                          </ul>
                                       </nav>
                                    </div>
                                 </div>
                           </section>
                      </div>
                  <div class="col-md-10 col-md-offset-1">
                     <div id="main">
                        <!-- Post -->
                        <div class="row">
                           <div class="col-md-12 col-md-offset-">
                              <article class="post">
                                 <header>
                                    <div class="title" style="padding-left:75px;">
                                       <h2><a href="profile.html">Hanns Gover</a></h2>
                                       <p>This is my daily grind, I work and work for my 
                                          living for family. <br/>
                                       </p>
                                    </div>
                                    <div class="meta">
                                       <span class="fh5co-icon"><i class="icon-trophy"></i>443</span>
                                       <strong class="fh5co-uppercase-sm">Guild Rank</strong>
                                       <br/>
                                       <span class="fh5co-icon"><i class="icon-rocket"></i>80%</span>
                                       <strong class="fh5co-uppercase-sm">Hireability<br>Score </strong>
                                       <br/>
                                       <strong><a href="#notifs">See Notifications</a></strong>
                                    </div>
                                 </header>
                                 <footer>
                                    <ul class="actions">
                                       <li><a href="profile.html" class="button small">View Profile</a></li>
                                    </ul>
                                 </footer>
                              </article>
                           </div>
                        </div>
                        <!---------- Notifications -------->
                        <!---------- Notifications -------->
                        <article class="post" id="notifs">
                           <header>
                              <div class="title">
                                 <h3>Notifications</h3>
                              </div>
                              <div class="meta">
                                 <a href="#" class="author text-center">
                                 <span class="text-right">You have 4<br/>interviews</span>&nbsp;&nbsp;
                                 <img src="src/assets/images/avatar.jpg" alt="" />
                                 </a>
                              </div>
                              <div class="meta">
                                 <a href="#" class="author text-center">
                                 <span class="text-right">You have 4<br/>assessment<br/>requests</span>&nbsp;&nbsp;
                                 <img src="src/assets/images/avatar.jpg" alt="" />
                                 </a>
                              </div>
                           </header>
                           <header>
                              <div class="title">
                                 <h3>Reminders</h3>
                                 <p>During interviews don't forget an extra sheet of lorem ipsum filler text for filling essay interview. Llorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper</p>
                              </div>
                              <div class="meta">
                                 <h3>Advertisements</h3>
                              </div>
                           </header>
                           <footer>
                              <ul class="actions">
                                 <li><a href="#" class="button small">View all notifications</a></li>
                              </ul>
                              <ul class="stats">
                                 <li><a href="#">General</a></li>
                                 <li><a href="#" class="icon fa-heart">28</a></li>
                                 <li><a href="#" class="icon fa-comment">128</a></li>
                              </ul>
                           </footer>
                        </article>
                        <!---------- Notifications -------->
                        <!---------- Notifications -------->
                        <!------------   Feeds ------------>
                        <!------------   Feeds ------------>
                        <article class="post">
                           <header>
                              <div class="title">
                                 <h3><a href="#">Feeds</a></h3>
                                 <p><small>Here listed your Crowd, peers, guilds Crowds and offers and services request offered to you.</small></p>
                              </div>
                              <div class="meta">
                                 <h3>A New Service Was Created Near You</h3>
                              </div>
                           </header>
                           <img src="http://via.placeholder.com/60x60" style="float:left;">
                           <p style="padding-left:80px;">Mauris neque quam fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
                           <footer>
                              <ul class="actions" style="padding-left:80px;">
                                 <li><a href="#" class="button small">Comment</a></li>
                              </ul>
                              <ul class="stats">
                                 <li>
                                     <span class="label label-danger">&nbsp;&nbsp; Peers &nbsp;&nbsp; </span>
                                 </li>
                                 <li><a href="#" class="icon fa-heart">28</a></li>
                                 <li><a href="#" class="icon fa-comment">128</a></li>
                              </ul>
                           </footer>
                           <br/>
                           <hr>
                           <img src="http://via.placeholder.com/60x60" style="float:left;">
                           <p style="padding-left:80px;">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
                           <footer>
                              <ul class="actions" style="padding-left:80px;">
                                 <li><a href="#" class="button small">Comment</a></li>
                              </ul>
                              <ul class="stats">
                                 <li>
                                    <span class="label label-danger"> &nbsp;&nbsp; Peers &nbsp;&nbsp; </span>
                                 </li>
                                 <li><a href="#" class="icon fa-heart">28</a></li>
                                 <li><a href="#" class="icon fa-comment">128</a></li>
                              </ul>
                           </footer>
                           <br/>
                           <hr>
                           <img src="http://via.placeholder.com/60x60" style="float:left;"> 
                           <p style="padding-left:80px;">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
                           <footer>
                              <ul class="actions" style="padding-left:80px;">
                                 <li><a href="#" class="button small">Comment</a></li>
                              </ul>
                              <ul class="stats">
                                 <li>
                                    <span class="label label-danger">&nbsp;&nbsp; Connection &nbsp;&nbsp;</span>
                                 </li>
                                 <li><a href="#" class="icon fa-heart">28</a></li>
                                 <li><a href="#" class="icon fa-comment">128</a></li>
                              </ul>
                           </footer>
                           <br/>
                           <hr>
                           <img src="http://via.placeholder.com/60x60" style="float:left;">
                           <p style="padding-left:80px;">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
                           <footer>
                              <ul class="actions" style="padding-left:80px;">
                                 <li><a href="#" class="button small">Comment</a></li>
                              </ul>
                              <ul class="stats">
                                 <li>
                                     <span class="label label-danger">&nbsp;&nbsp; Peers &nbsp;&nbsp; </span> 
                                 </li>
                                 <li><a href="#" class="icon fa-heart">28</a></li>
                                 <li><a href="#" class="icon fa-comment">128</a></li>
                              </ul>
                           </footer>
                        </article>
                     </div>
                  </div>
                  
               </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
