<template>
  <div style="padding:0;">
    <!-- Wrapper -->
   	    <!-- We want to put this in another component other than Home.vue-->
        <div class="col-md-1">
            <section id="intro">
               <br/>
               <img src="http://lorempixel.com/160/160/people/avatar" class="img-circle"/> 
               <div class="col-md-1 col-md-offset-1">
                  <div class="col-md-1" style="position:fixed; left:0;margin:auto 20px auto 30px;">
                     <nav class="navbar navbar-fixed-left navbar-minimal open animate" role="navigation">
                        <div class="navbar-toggler animate">
                           <span class="menu-icon"></span>
                        </div>
                        <ul class="navbar-menu animate"> 
                           <li v-for="item in menu" >
                              <a  href="#" class="animate side-menuico">  
                              <span class="desc animate"> {{ item.href }} </span>
                              <span class="glyphicon glyphicon-user side-ico"></span>
                              </a>
                           </li>
                         <!--  <li>
                              <a href="project-board.html" class="animate side-menuico">
                              <span class="desc animate"> Board </span>
                              <span class="glyphicon glyphicon-info-sign side-ico"></span>
                              </a>
                           </li>
                           <li>
                              <a href="#contact-us" class="animate side-menuico">
                              <span class="desc animate">Work </span>
                              <span class="glyphicon glyphicon-comment side-ico"></span>
                              </a>
                           </li> -->
                        </ul>
                     </nav>
                  </div>
               </div>
            </section>
        </div>
    <!---- Contents of Side Menu Component ----->
    <!-- End Wrapper Below-->
  </div>
</template>

<script>
export default {
  name: 'LeftSideMenu',
  data () {
    return {
      
    }
  },
  props:['menu'],
  created: function () { 
  
  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
